<div class="wrapper">
  <div class="container shadow">
    <div class="logo"></div>
    <div class="content">
      <mat-form-field>
        <input 
          matInput placeholder="Nome do Usuario"
          [type]='text'
          required>
      </mat-form-field> 
      <mat-form-field>
        <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'">
      </mat-form-field>
      <div class="adjust">
        <button 
          [routerLink]="['/system']" 
          (click)="loadData()" 
          class="button"
          type="submit" >
          ENTRAR
        </button>
      </div>
    </div>
  </div>
  <div class="spinner" *ngIf="showSpinner">
  <mat-spinner ></mat-spinner>
  </div>
</div>